*.exe
*.dll
*.so
*.o
*.dylib
*.out
.idea
.vscode
*.iws
*.rgi
*.cbp

cmake-build-debug
CMakeFiles
CMakeCache.txt
cmake_install.cmake
src/native/Makefile
src/native/SnakeSocksCli
src/native/samp.conf
src/server-go/pkg
src/client-windows/**
release/snakesocks-prebuilt-*
sync.sh/**
skcli
sksrv
skserver
build/
