*.exe
*.dll
*.so
*.o
*.dylib
*.out
**/.idea/**
**/.vscode/**
*.iws
src/server/pkg
cmake-build-debug/**
*.rgi
src/client/Makefile
*.cbp
src/client/CMakeFiles/**
src/client/CMakeCache.txt
src/client/cmake-build-debug/**
src/client/cmake_install.cmake
src/client/SnakeSocksCli
src/client/samp.conf
release/**
sync.sh/**
src/client-windows/**
skcli
sksrv
skserver
